body{
    font-family: 'Roboto Slab', serif;
    margin: 0;

}

.nav-bar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 7vh;
    align-items: center;
    
}
.nav-bar a{
    padding: 0 3vh;
    color: black;
    font-size: 2vh;
    text-decoration: none;

}

header{
    background-color: #BC7AF9;
    min-width: 400px;

}


main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    background-color: #FFA1F5;
    min-width: 400px;
    min-height: 90vh;

 
}

.curr-data{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    min-width: 200px;
    width: 55%;
    height: 50px;
    border-radius: 20px;
    background-color: #F8FF95;
    font-size: 25px;
    margin: 3vh;
    box-shadow: 5px 1px 5px rgb(97, 97, 97);
    font-weight: bolder;
    
}


.list{
    flex-direction: row;
    text-align: left;
    width: 55%;
    min-height: 60vh;
    min-width: 400px;
    background-color: bisque;
    margin-bottom: 3vh;
    box-shadow: 5px 1px 5px rgb(97, 97, 97);   
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3vh 10vh;
    font-style: italic;
    border-bottom: 1px solid black;

    
}

.container input{
    transform: scale(1.5);
    margin-right:3vh ;
}

.container p{
    font-size: 20px;
    color: rgb(94, 94, 94);
}



button{
    background-color: #A6FF96;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    font-size: 30px;
    border: 0px;
    color: black;
    box-shadow: 5px 1px 3px rgb(97, 97, 97);

}


footer{
    display: flex;
    justify-content: center;
    background-color: #BC7AF9;
    min-width: 400px;
    min-height: 80px;
    
}

.crossed-out {
    text-decoration: line-through;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    width: 55%;
    min-width: 400px;
    min-height: 50px;
    
    
}

#newText{
     
    background-color: bisque;
    border: none;
    width: 90%;
    min-height: 50px;
    box-shadow: 5px 1px 5px rgb(97, 97, 97);
    font-size: 20px;
    text-align: center;
    
}